:root{
    --normal-font: 'Poppins', sans-serif;
    --heading-font: 'Sen', sans-serif;
}
*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: var(--normal-font);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
    background: #fff;
}
