:root {
  --normal-font: "Poppins", sans-serif;
  --heading-font: "Sen", sans-serif;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--normal-font);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
  background: #fff;
}
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
button,
textarea,
input {
  color: inherit;
  background: transparent;
  border: none;
}
button {
  cursor: pointer;
}
.btn {
  min-width: 118px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  border-radius: 999px;
  background: #171100;
  color: #fff;
  font-weight: 600;
}
.btn-block {
  font-size: 1.4rem;
}
.btn-block:hover {
  background-color: #ffb900;
}

.line-clamp {
  display: -webkit-box;
  line-clamp: var(--line-clamp, 2);
  -webkit-line-clamp: var(--line-clamp, 2);
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.word-break {
  word-break: break-all;
}
/* =================header================= */
.header {
  padding-top: 36px;
  padding-bottom: 12px;
  background: #fffcf4;
  position: sticky;
  top: -28px;
  left: 0;
  right: 0;
  z-index: 1;
}
.header-wrapper {
  display: flex;
  align-items: center;
}
.nav {
  margin-left: auto;
  display: flex;
}
.nav__link {
  color: #5f5b53;
  line-height: 175%;
  padding: 21px 12px;
}

.nav--active,
.nav__link:hover {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
  position: relative;
}
.nav--active::before,
.nav__link:hover::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
  position: absolute;
  left: 12px;
  bottom: 19px;
}
.header-btn {
  margin-left: 58px;
  min-width: 144px;
}

/* =================main================= */
/* hero */
.hero {
  padding: 52px 0 65px;
  background: #fffcf4;
}
.hero-wrapper {
  display: flex;
}
.hero-info {
  margin-left: auto;
  width: 470px;
}
.hero .title {
  margin-top: 64px;
  color: #171100;
  font-family: var(--heading-font);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 117.241%;
  letter-spacing: -1.16px;
}
.hero .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 166.667%;
}
.hero .box-btn {
  margin-top: 38px;
  display: flex;
}
.hero-btn {
  border-radius: 32px;
  background: #ffb900;
  width: 180px;
  height: 64px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
}
.hero .watch-video {
  display: flex;
  align-items: center;
  margin-left: 28px;
  gap: 14px;
}
.hero .watch-video .icon-play {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}
.hero .watch-video span {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
}
.hero-stats {
  margin-top: 48px;
}
.hero-stats .quantity {
  color: #171100;
  font-family: var(--heading-font);
  font-size: 4.4rem;
  font-weight: 700;
  margin-right: 10px;
}
.hero-stats .quantity:not(:first-child) {
  margin-left: 28px;
}
.hero-stats .stats-desc,
.box-stats {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 166.667%;
}
.box-stats {
  margin-top: 8px;
}
.box-stats strong {
  color: #171100;
  font-family: var(--heading-font);
  font-size: 4.4rem;
  font-weight: 700;
  margin-right: 12px;
}
.box-stats strong:not(:first-child) {
  margin-left: 28px;
}
.hero .box-img {
  position: relative;
}
.hero-img {
  display: block;
  width: 470px;
  height: 685px;
  border-radius: 20px;
  object-fit: cover;
}
.hero .card {
  min-width: 270px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
  position: absolute;
  bottom: 48px;
  right: -100px;
}
.hero .card-wrapper {
  padding: 24px;
}
.hero .card-group {
  display: flex;
  align-items: center;
  gap: 16px;
}
.hero .card-group:not(:first-child) {
  margin-top: 14px;
}
.hero .card-item .quantity {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 185.714%;
}
.hero .card-item .sub-title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 166.667%;
}

/* popular-course */
.popular-course {
  padding: 200px 0;
}
.popular-course .upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular-course .box-text .title {
  color: #171100;
  font-family: var(--heading-font);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 126.316%;
  letter-spacing: -0.76px;
  padding-right: 6px;
}
.popular-course .box-text .desc {
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 166.667%;
  margin-top: 16px;
}
.popular-course .box-control {
  display: flex;
  gap: 18px;
}
.popular-course .btn-control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ffb900;
  color: #ffb900;
}
.popular-course .btn-control:hover {
  color: #fff;
  border-color: #ffb900;
  background: #ffb900;
}
.popular-course .all-courses {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
  gap: 30px;
}
.popular-course .course {
  flex: 1;
  border-radius: 12px;
  background: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
}
.popular-course .course-img {
  display: block;
  width: 100%;
  height: 278px;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
}
.popular-course .course-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 16px 22px 22px;
}
.popular-course .course-info .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular-course .course-info .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 166.667%;
}
.popular-course .course-info .star {
  color: #fea31b;
  display: flex;
  align-items: center;
  gap: 6px;
}
.popular-course .course-info .desc {
  margin-top: 6px;
  margin-bottom: 12px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 185.714%;
}
.popular-course .course-info .row-lower {
  margin-top: auto;
}
.popular-course .course-info .cost {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 166.667%;
}

/* feedback */
.feedback {
  padding: 96px 135px;
  background: #2e2100;
}
.feedback-wrapper {
  display: flex;
  justify-content: space-between;
}
.feedback .avatar {
  display: block;
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 50%;
}
.feedback .name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: var(--heading-font);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 141.667%;
}
.feedback .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 185.714%;
}
.feedback .box-dot {
  display: flex;
  margin-top: 28px;
  gap: 6px;
}
.feedback .dot {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
}
.feedback .dot--active {
  background: #ffb900;
}

.quote {
  width: 63.25%;
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 153.846%;
  align-self: flex-end;
  position: relative;
}
.quote::before {
  content: url(../img/quote.svg);
  display: block;
  position: absolute;
  top: -28px;
  left: -30px;
}

/* features */
.features {
  margin-top: 200px;
}
.features-left {
  width: 48.72%;
}
.features-right {
  width: 40.17%;
  margin-left: auto;
}
.features-wrapper {
  display: flex;
}
.features .box-img {
  display: flex;
  justify-content: space-between;
}
.features-img {
  width: 270px;
  height: 405px;
  object-fit: cover;
  border-radius: 16px;
}
.features-img-1 {
  margin-top: 34px;
}
.features-info {
  align-self: center;
  display: flex;
  flex-direction: column;
}
.features-info .title {
  color: #171100;
  font-family: var(--heading-font);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 126.316%;
  letter-spacing: -0.76px;
}
.features-info .desc {
  color: #5f5b53;
  line-height: 175%;
  margin-top: 16px;
}
.features-btn {
  margin-top: 32px;
  width: 137px;
  background: #ffb900;
}
.features-2{
  padding: 200px 0;
}
.features-2-img {
  width: 470px;
  height: 440px;
  object-fit: cover;
  border-radius: 20px;
}
